mat-toolbar {
    background-color: rgb(15, 146, 15);
    
  } 

  .mb-3 {
    width: 250px;
    height: 200px;
    position: absolute;
    top: 30%;
    left: 51%;
    margin-top: -100px;
    margin-left: -100px;
    text-align: center;
  }
  button{
    margin-bottom: 10px;
}