
<!DOCTYPE html>
<html lang="en">
 
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Welfare Requestition </title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">

</head>
<body>
  
  <mat-toolbar>
    <span class="example-icon">  <img
      width="60"
      alt="Jcy"
      src="https://sv1.picz.in.th/images/2022/12/21/JNQLLQ.jpg"
    /></span>
  </mat-toolbar>
 
  <h2 class="text-center">Registration</h2>
    <div class="row">
      <div class="col-md-3">
      </div>
    <div class="text-center">
      <div class="jumbotron">
        <form (ngSubmit)="Postdata(formRegister)"  [formGroup]="formRegister">

          <div class="form-group">
            <label for="Username" class="form-label">ชื่อผู้ใช้งาน(Username)
            <input type="text" class="form-control" formControlName="Username" ></label>
          
            <label for="Password" class="form-label">รหัสผ่าน(Password)
            <input type="text" class="form-control" formControlName="Password"></label>
          </div>
            
            <div class="form-group">
            <label for="Firstname" class="form-label">ชื่อจริง(Firstname)
            <input type="text" class="form-control" formControlName="Firstname"></label>
          
            <label for="Lastname " class="form-label">นามสกุล(Lastname) 
            <input type="text " class="form-control" formControlName="Lastname" ></label>
          </div>
          <div class="form-group">
            <label for="EmpNo" class="form-label">รหัสพนักงาน(Emp No)
            <input type="text" class="form-control" formControlName="EmpNo" ></label>
            <label for="Position " class="form-label">ตำแหน่ง(Position) 
            <input type="Position " class="form-control" formControlName="Position"></label>
          </div>
          <div  class="form-group">
            <label for="Department" class="form-label">ฝ่าย(Department)
            <select formControlName="Department" class="form-select" >
              <option></option>
              <option>Quality Assurance  </option>
              <option>Production</option>
              <option>Engineering</option>
              <option>Human Resources</option>
              <option>Finance&Accounting</option>
              <option>Management</option>
              <option>Supply Chain Management</option>
              <option>Facility&Maintenance</option>
              <option>Purchase</option>
            </select></label>
 
          <label for="Section" class="form-label">แผนก(Section)
          <select formControlName="Section" class="form-select">
            <option></option>
            <option>IPQA/B</option>
            <option>IPQA/A</option>
            <option>QA-MRB 3.5/A</option>
            <option>CMM/B</option>
            <option>CQE</option>
            <option>Document/B</option>
            <option>CMM/A</option>
            <option>QA-MRB 2.5/B</option>
            <option>Document/A</option>
            <option>Contamination Control/A</option>
            <option>QA-MRB 2.5/A</option>
            <option>OQA/A</option>
            <option>IQA/A</option>
            <option>OQA/B</option>
            <option>SPC/A</option>
            <option>Calibation/A</option>
            <option>Contamination Control/B </option>
            <option>IQA/B</option>
            <option>QA-MRB 3.5/B</option>
            <option>SPC/B</option>
            <option>MC-Seagate/A</option>
            <option>MC-Seagate/B</option>
            <option>Incoming sort/A</option>
            <option>VMI-DSP/B</option>
            <option>VMI-Seagate/B</option>
            <option>VMI-Seagate/A</option>
            <option>Sorting/A</option>
            <option>Sorting/B</option>
            <option>Washing 3.5/B</option>
            <option>Incoming sort/B</option>
            <option>Washing 3.5/A</option>
            <option>VMI-DSP/A</option>
            <option>Trainning/B</option>
            <option>Trainning/A</option>
            <option>Washing 2.5/A</option>
            <option>Process Engineering/B</option>
            <option>Process Engineering/A</option>
            <option>Automation/A</option>
            <option>Automation/B</option>
            <option>Admin/B</option>
            <option>HRM/A</option>
            <option>HRD/A</option>
            <option>Admin/A</option>
            <option>Accounting/A</option>
            <option>Payroll</option>
            <option>IT</option>
            <option>SHE</option>
            <option>Management</option>
            <option>Warehouse/B</option>
            <option>Warehouse/A</option>
            <option>CS</option>
            <option>Material Planning/A</option>
            <option>Maintenance/B</option>
            <option>Washing/A</option>
            <option>Washing/B</option>
            <option>Maintenance/A</option>
           <option>Facility/A</option>
            <option>Purchase</option>
          </select></label>
        </div>
     
     
        <div class="form-group">
          <label for="Type_of_Employee" class="form-label">ประเภทพนักงาน(Type of Employee)
          <select formControlName="Type_of_Employee" class="form-select">
            <option></option>
            <option>รายวัน</option>
            <option>รายเดือน</option>
          </select></label>
        
    
        
          <label for="Employee_Detail" class="form-label">รายละเอียดพนักงาน(Employee Detail)
          <select formControlName="Employee_Detail" class="form-select">
            <option></option>
            <option>พนักงานใหม่</option>
            <option>พนักงานประจำ</option>
            <option>พนักงานSub</option>
          </select></label>
        
        </div>
     
        <div class="mb-3">
          <label for="Joined_date" class="form-label">วันที่เริ่มงาน(Joined date) 
          <input type="date" class="form-control" formControlName="Joined_date" ></label>
      </div> 
        <div class="mb-3">
        <button  type="submit" class="btn btn-primary" >ลงทะเบียน(Register)</button>
        <button  [routerLink]="['/login']" type="submit" class="btn btn-primary" >ยกเลิก(Cancel)</button>
       
      </div>   
     
        </form>
      </div>
        </div>

        </div>
  
</body>
</html>
